In [106]:
import pandas as pd

In [107]:
df=pd.read_csv(r"C:\Users\shaur\OneDrive\Desktop\0 Machine Learning\imdb_clean2.csv",index_col=0)

In [108]:
df

,title,release_year,runtime,genre,rating,metascore,gross(M)
0,The Shawshank Redemption,1994,142,Drama,9.3,82,28.34
1,The Godfather,1972,175,Crime,9.2,100,134.97
1,The Godfather,1972,175,Drama,9.2,100,134.97
2,The Dark Knight,2008,152,Action,9.0,84,534.86
2,The Dark Knight,2008,152,Crime,9.0,84,534.86
...,...,...,...,...,...,...,...
998,The Invisible Man,1933,71,Horror,7.6,87,0.00
998,The Invisible Man,1933,71,Sci-Fi,7.6,87,0.00
999,Cell 211,2009,113,Action,7.6,0,0.00
999,Cell 211,2009,113,Crime,7.6,0,0.00
999,Cell 211,2009,113,Drama,7.6,0,0.00

In [109]:
df.dtypes

title            object
release_year      int64
runtime           int64
genre            object
rating          float64
metascore         int64
gross(M)        float64
dtype: object

In [110]:
df.describe()

       release_year      runtime       rating    metascore     gross(M)
count   2532.000000  2532.000000  2532.000000  2532.000000  2532.000000
mean    1992.241706   124.209716     7.966272    66.547393    61.718515
std       24.221845    28.915958     0.274463    30.463166   113.378029
min     1920.000000    45.000000     7.600000     0.000000     0.000000
25%     1976.000000   103.000000     7.800000    64.000000     0.287500
50%     2000.000000   120.000000     7.900000    76.000000    10.775000
75%     2011.000000   139.000000     8.100000    86.000000    70.100000
max     2023.000000   321.000000     9.300000   100.000000   936.660000

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2532 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         2532 non-null   object
 1   release_year  2532 non-null   int64
 2   runtime       2532 non-null   int64
 3   genre         2532 non-null   object
 4   rating        2532 non-null   float64
 5   metascore     2532 non-null   int64
 6   gross(M)      2532 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 158.2+ KB

In [112]:
df.isnull().sum()

title           0
release_year    0
runtime         0
genre           0
rating          0
metascore       0
gross(M)        0
dtype: int64

In [136]:
df.corr()

                                 release_year  runtime  rating  metascore  \
title        genre
12 Angry Men Crime release_year           NaN      NaN     NaN        NaN
                   runtime                NaN      NaN     NaN        NaN
                   rating                 NaN      NaN     NaN        NaN
                   metascore              NaN      NaN     NaN        NaN
                   gross(M)               NaN      NaN     NaN        NaN
...                                       ...      ...     ...        ...
Zulu         War   release_year           NaN      NaN     NaN        NaN
                   runtime                NaN      NaN     NaN        NaN
                   rating                 NaN      NaN     NaN        NaN
                   metascore              NaN      NaN     NaN        NaN
                   gross(M)               NaN      NaN     NaN        NaN

                                 gross(M)
title        genre
12 Angry Men Crime release_year       NaN
                   runtime            NaN
                   rating             NaN
                   metascore          NaN
                   gross(M)           NaN
...                                   ...
Zulu         War   release_year       NaN
                   runtime            NaN
                   rating             NaN
                   metascore          NaN
                   gross(M)           NaN

[12600 rows x 5 columns]

In [137]:
df['release_year'].unique()

title         genre
12 Angry Men  Crime        [1957]
              Drama        [1957]
12 Monkeys    Mystery      [1995]
              Sci-Fi       [1995]
              Thriller     [1995]
                            ...
Zootopia      Animation    [2016]
              Comedy       [2016]
Zulu          Drama        [1964]
              History      [1964]
              War          [1964]
Name: release_year, Length: 2520, dtype: object

In [113]:
df.columns

Index(['title', 'release_year', 'runtime', 'genre', 'rating', 'metascore',
       'gross(M)'],
      dtype='object')

In [114]:
df[['release_year', 'title', 'genre']]

     release_year                     title   genre
0            1994  The Shawshank Redemption   Drama
1            1972             The Godfather   Crime
1            1972             The Godfather   Drama
2            2008           The Dark Knight  Action
2            2008           The Dark Knight   Crime
..            ...                       ...     ...
998          1933         The Invisible Man  Horror
998          1933         The Invisible Man  Sci-Fi
999          2009                  Cell 211  Action
999          2009                  Cell 211   Crime
999          2009                  Cell 211   Drama

[2532 rows x 3 columns]

In [115]:
df[(df['rating'] > 7) & (df['release_year'] >= 1985) & (df['genre']== 'Drama')]

,title,release_year,runtime,genre,rating,metascore,gross(M)
0,The Shawshank Redemption,1994,142,Drama,9.3,82,28.34
2,The Dark Knight,2008,152,Drama,9.0,84,534.86
3,Schindler's List,1993,195,Drama,9.0,95,96.90
6,The Lord of the Rings: The Return of the King,2003,201,Drama,9.0,94,377.85
8,Pulp Fiction,1994,154,Drama,8.9,95,107.93
...,...,...,...,...,...,...,...
994,Shine,1996,105,Drama,7.6,87,35.81
995,Philomena,2013,98,Drama,7.6,77,37.71
996,Control,2007,122,Drama,7.6,78,0.87
997,A Very Long Engagement,2004,133,Drama,7.6,76,6.17
999,Cell 211,2009,113,Drama,7.6,0,0.00

In [116]:
df[(df['rating'] > 8.5) & (df['release_year'] >= 2000)]

,title,release_year,runtime,genre,rating,metascore,gross(M)
2,The Dark Knight,2008,152,Action,9.0,84,534.86
2,The Dark Knight,2008,152,Crime,9.0,84,534.86
2,The Dark Knight,2008,152,Drama,9.0,84,534.86
6,The Lord of the Rings: The Return of the King,2003,201,Action,9.0,94,377.85
6,The Lord of the Rings: The Return of the King,2003,201,Adventure,9.0,94,377.85
6,The Lord of the Rings: The Return of the King,2003,201,Drama,9.0,94,377.85
7,Spider-Man: Across the Spider-Verse,2023,140,Animation,8.9,86,0.00
7,Spider-Man: Across the Spider-Verse,2023,140,Action,8.9,86,0.00
7,Spider-Man: Across the Spider-Verse,2023,140,Adventure,8.9,86,0.00
9,Inception,2010,148,Action,8.8,74,292.58
9,Inception,2010,148,Adventure,8.8,74,292.58
9,Inception,2010,148,Sci-Fi,8.8,74,292.58
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,92,315.54
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Adventure,8.8,92,315.54
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Drama,8.8,92,315.54
14,The Lord of the Rings: The Two Towers,2002,179,Action,8.8,87,342.55
14,The Lord of the Rings: The Two Towers,2002,179,Adventure,8.8,87,342.55
14,The Lord of the Rings: The Two Towers,2002,179,Drama,8.8,87,342.55
15,Jai Bhim,2021,164,Crime,8.8,0,0.00
15,Jai Bhim,2021,164,Drama,8.8,0,0.00
15,Jai Bhim,2021,164,Mystery,8.8,0,0.00
16,777 Charlie,2022,164,Adventure,8.8,0,0.00
16,777 Charlie,2022,164,Comedy,8.8,0,0.00
16,777 Charlie,2022,164,Drama,8.8,0,0.00
17,Rocketry: The Nambi Effect,2022,157,Biography,8.8,0,0.00
17,Rocketry: The Nambi Effect,2022,157,Drama,8.8,0,0.00
18,Interstellar,2014,169,Adventure,8.7,74,188.02
18,Interstellar,2014,169,Drama,8.7,74,188.02
18,Interstellar,2014,169,Sci-Fi,8.7,74,188.02
23,Soorarai Pottru,2020,153,Action,8.7,0,0.00
23,Soorarai Pottru,2020,153,Drama,8.7,0,0.00
30,Spirited Away,2001,125,Animation,8.6,96,10.06
30,Spirited Away,2001,125,Adventure,8.6,96,10.06
30,Spirited Away,2001,125,Family,8.6,96,10.06
31,City of God,2002,130,Crime,8.6,79,7.56
31,City of God,2002,130,Drama,8.6,79,7.56
36,Sita Ramam,2022,163,Action,8.6,0,0.00
36,Sita Ramam,2022,163,Drama,8.6,0,0.00
36,Sita Ramam,2022,163,Mystery,8.6,0,0.00

In [117]:
df[(df['rating'] > 8.7)]

,title,release_year,runtime,genre,rating,metascore,gross(M)
0,The Shawshank Redemption,1994,142,Drama,9.3,82,28.34
1,The Godfather,1972,175,Crime,9.2,100,134.97
1,The Godfather,1972,175,Drama,9.2,100,134.97
2,The Dark Knight,2008,152,Action,9.0,84,534.86
2,The Dark Knight,2008,152,Crime,9.0,84,534.86
2,The Dark Knight,2008,152,Drama,9.0,84,534.86
3,Schindler's List,1993,195,Biography,9.0,95,96.90
3,Schindler's List,1993,195,Drama,9.0,95,96.90
3,Schindler's List,1993,195,History,9.0,95,96.90
4,12 Angry Men,1957,96,Crime,9.0,97,4.36
4,12 Angry Men,1957,96,Drama,9.0,97,4.36
5,The Godfather Part II,1974,202,Crime,9.0,90,57.30
5,The Godfather Part II,1974,202,Drama,9.0,90,57.30
6,The Lord of the Rings: The Return of the King,2003,201,Action,9.0,94,377.85
6,The Lord of the Rings: The Return of the King,2003,201,Adventure,9.0,94,377.85
6,The Lord of the Rings: The Return of the King,2003,201,Drama,9.0,94,377.85
7,Spider-Man: Across the Spider-Verse,2023,140,Animation,8.9,86,0.00
7,Spider-Man: Across the Spider-Verse,2023,140,Action,8.9,86,0.00
7,Spider-Man: Across the Spider-Verse,2023,140,Adventure,8.9,86,0.00
8,Pulp Fiction,1994,154,Crime,8.9,95,107.93
8,Pulp Fiction,1994,154,Drama,8.9,95,107.93
9,Inception,2010,148,Action,8.8,74,292.58
9,Inception,2010,148,Adventure,8.8,74,292.58
9,Inception,2010,148,Sci-Fi,8.8,74,292.58
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,92,315.54
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Adventure,8.8,92,315.54
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Drama,8.8,92,315.54
11,Fight Club,1999,139,Drama,8.8,67,37.03
12,Forrest Gump,1994,142,Drama,8.8,82,330.25
12,Forrest Gump,1994,142,Romance,8.8,82,330.25
13,"The Good, the Bad and the Ugly",1966,178,Adventure,8.8,90,6.10
13,"The Good, the Bad and the Ugly",1966,178,Western,8.8,90,6.10
14,The Lord of the Rings: The Two Towers,2002,179,Action,8.8,87,342.55
14,The Lord of the Rings: The Two Towers,2002,179,Adventure,8.8,87,342.55
14,The Lord of the Rings: The Two Towers,2002,179,Drama,8.8,87,342.55
15,Jai Bhim,2021,164,Crime,8.8,0,0.00
15,Jai Bhim,2021,164,Drama,8.8,0,0.00
15,Jai Bhim,2021,164,Mystery,8.8,0,0.00
16,777 Charlie,2022,164,Adventure,8.8,0,0.00
16,777 Charlie,2022,164,Comedy,8.8,0,0.00
16,777 Charlie,2022,164,Drama,8.8,0,0.00
17,Rocketry: The Nambi Effect,2022,157,Biography,8.8,0,0.00
17,Rocketry: The Nambi Effect,2022,157,Drama,8.8,0,0.00

In [118]:
df[(df['release_year'] > 2000)]

,title,release_year,runtime,genre,rating,metascore,gross(M)
2,The Dark Knight,2008,152,Action,9.0,84,534.86
2,The Dark Knight,2008,152,Crime,9.0,84,534.86
2,The Dark Knight,2008,152,Drama,9.0,84,534.86
6,The Lord of the Rings: The Return of the King,2003,201,Action,9.0,94,377.85
6,The Lord of the Rings: The Return of the King,2003,201,Adventure,9.0,94,377.85
...,...,...,...,...,...,...,...
997,A Very Long Engagement,2004,133,Mystery,7.6,76,6.17
997,A Very Long Engagement,2004,133,Romance,7.6,76,6.17
999,Cell 211,2009,113,Action,7.6,0,0.00
999,Cell 211,2009,113,Crime,7.6,0,0.00
999,Cell 211,2009,113,Drama,7.6,0,0.00

In [120]:
df[(df['runtime'] < 105 ) & (df['metascore'] >= 80)]
df.head(30)

,title,release_year,runtime,genre,rating,metascore,gross(M)
0,The Shawshank Redemption,1994,142,Drama,9.3,82,28.34
1,The Godfather,1972,175,Crime,9.2,100,134.97
1,The Godfather,1972,175,Drama,9.2,100,134.97
2,The Dark Knight,2008,152,Action,9.0,84,534.86
2,The Dark Knight,2008,152,Crime,9.0,84,534.86
2,The Dark Knight,2008,152,Drama,9.0,84,534.86
3,Schindler's List,1993,195,Biography,9.0,95,96.90
3,Schindler's List,1993,195,Drama,9.0,95,96.90
3,Schindler's List,1993,195,History,9.0,95,96.90
4,12 Angry Men,1957,96,Crime,9.0,97,4.36
4,12 Angry Men,1957,96,Drama,9.0,97,4.36
5,The Godfather Part II,1974,202,Crime,9.0,90,57.30
5,The Godfather Part II,1974,202,Drama,9.0,90,57.30
6,The Lord of the Rings: The Return of the King,2003,201,Action,9.0,94,377.85
6,The Lord of the Rings: The Return of the King,2003,201,Adventure,9.0,94,377.85
6,The Lord of the Rings: The Return of the King,2003,201,Drama,9.0,94,377.85
7,Spider-Man: Across the Spider-Verse,2023,140,Animation,8.9,86,0.00
7,Spider-Man: Across the Spider-Verse,2023,140,Action,8.9,86,0.00
7,Spider-Man: Across the Spider-Verse,2023,140,Adventure,8.9,86,0.00
8,Pulp Fiction,1994,154,Crime,8.9,95,107.93
8,Pulp Fiction,1994,154,Drama,8.9,95,107.93
9,Inception,2010,148,Action,8.8,74,292.58
9,Inception,2010,148,Adventure,8.8,74,292.58
9,Inception,2010,148,Sci-Fi,8.8,74,292.58
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,92,315.54
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Adventure,8.8,92,315.54
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Drama,8.8,92,315.54
11,Fight Club,1999,139,Drama,8.8,67,37.03
12,Forrest Gump,1994,142,Drama,8.8,82,330.25
12,Forrest Gump,1994,142,Romance,8.8,82,330.25